<h1>Welcome <%=@user.username%>'s Todo List </h1>
<%@todos.each do |todo|%>
  <h2> <%=todo%> </h2>
<%end%>

<form action="/todos/new" method="get">
<input type="submit" value="Create New Todo">
</Form>