<h1>Welcome  </h1>

<%# button %>
<h3>Create an Account</h3>
<form method="get" action="/users/signup">
  <input type="submit" value="Create an Account">
</form>
<h3>Or Please Login</h3>
<%# button %>
<form method="get" action="/users/login">
  <input type="submit" value="Login">
</form>